/* Backend */
.toplevel_page_kd-tiles-portfolio-plugin  {

    h2 {
        margin-top: 50px;
    }

    .box {
        background-color: #fff;
        box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
        padding: 5px;
    }

    #plugin-page {
        display: flex;
        flex-flow: column;

        #page-nav{
            display: flex;
            // justify-content: space-between;
            margin-left: -20px;
            padding-left: 20px;

            #logo {
                height: 80px;
            }

            h1 {
                align-self: center;
            }

            #nav-menus{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        #page-content {
            width: 100%;
            max-width: 700px;
            margin: auto;
        }

        .listview-row{
            display: flex;
            flex-flow: column;
            margin: 10px 0;
            padding: 20px;

            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                h2 {
                    margin: 0;
                    
                    input {
                            border-radius: 0;
                            border: 0;
                            border-bottom: 1px solid;
                        }
                }
            }

            .listview-contextmenu {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    margin: 0 5px;
                }
            }
        }
    }
}